In [69]:
import pandas as pd 

df = pd.read_csv("examples.csv")
df

       Country       Date  Total Booster
0   Afganistan  1/26/2021            1.0
1   Afganistan  1/27/2021            NaN
2   Afganistan  1/28/2021            5.0
3   Afganistan  1/29/2021            8.0
4   Afganistan  1/30/2021            9.0
5      Alzeria  1/26/2021           15.0
6      Alzeria  1/27/2021           17.0
7      Alzeria  1/28/2021            NaN
8      Alzeria  1/29/2021            NaN
9      Alzeria  1/30/2021            NaN
10     Alzeria  1/31/2021           55.0
11     Alzeria   2/1/2021           69.0
12     Alzeria   2/2/2021           20.0
13     Alzeria   2/3/2021            NaN
14     Alzeria   2/4/2021            NaN
15     Alzeria   2/5/2021           53.0
16     Alzeria   2/6/2021           23.0
17     Alzeria   2/7/2021           55.0
18     Alzeria   2/8/2021           44.0

In [70]:
df["Total Booster"] = df["Total Booster"].fillna(df["Total Booster"].shift(1))
df

       Country       Date  Total Booster
0   Afganistan  1/26/2021            1.0
1   Afganistan  1/27/2021            1.0
2   Afganistan  1/28/2021            5.0
3   Afganistan  1/29/2021            8.0
4   Afganistan  1/30/2021            9.0
5      Alzeria  1/26/2021           15.0
6      Alzeria  1/27/2021           17.0
7      Alzeria  1/28/2021           17.0
8      Alzeria  1/29/2021            NaN
9      Alzeria  1/30/2021            NaN
10     Alzeria  1/31/2021           55.0
11     Alzeria   2/1/2021           69.0
12     Alzeria   2/2/2021           20.0
13     Alzeria   2/3/2021           20.0
14     Alzeria   2/4/2021            NaN
15     Alzeria   2/5/2021           53.0
16     Alzeria   2/6/2021           23.0
17     Alzeria   2/7/2021           55.0
18     Alzeria   2/8/2021           44.0

In [71]:
def RevCS(x):
    x = x.fillna(df["Total Booster"].shift(1))
    x= x.diff().fillna(x.iloc[0])
    return x

df["new"] = RevCS(df["Total Booster"])
df
    
# df["Total Booster"] = df["Total Booster"].fillna(df["Total Booster"].shift(1))

# df["Booster"]= df["Total Booster"].diff().fillna(df['Total Booster'].iloc[0])
# df

       Country       Date  Total Booster   new
0   Afganistan  1/26/2021            1.0   1.0
1   Afganistan  1/27/2021            1.0   0.0
2   Afganistan  1/28/2021            5.0   4.0
3   Afganistan  1/29/2021            8.0   3.0
4   Afganistan  1/30/2021            9.0   1.0
5      Alzeria  1/26/2021           15.0   6.0
6      Alzeria  1/27/2021           17.0   2.0
7      Alzeria  1/28/2021           17.0   0.0
8      Alzeria  1/29/2021            NaN   0.0
9      Alzeria  1/30/2021            NaN   1.0
10     Alzeria  1/31/2021           55.0   1.0
11     Alzeria   2/1/2021           69.0  14.0
12     Alzeria   2/2/2021           20.0 -49.0
13     Alzeria   2/3/2021           20.0   0.0
14     Alzeria   2/4/2021            NaN   0.0
15     Alzeria   2/5/2021           53.0  33.0
16     Alzeria   2/6/2021           23.0 -30.0
17     Alzeria   2/7/2021           55.0  32.0
18     Alzeria   2/8/2021           44.0 -11.0

In [38]:
import pandas as pd 

df = pd.read_csv("Example.csv")
df

       total_boosters
0               28870
1               32750
2               71510
3               71510
4              124228
...               ...
32627          988856
32628          997670
32629         1003248
32630         1009486
32631         1014481

[32632 rows x 1 columns]

In [42]:
import numpy as np
def RevCS(x):
    if x.shift(1) != np.nan :
        x = x.fillna(x.shift(1))
    else :
        x = x
    x= x.diff().fillna(x.iloc[0])
    return x

In [43]:
RevCS(df["total_boosters"])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [48]:
df['new'] = np.where(df["total_boosters"] != 'np.nan, df["total_boosters"].fillna(x.shift(1)), df["total_boosters"])

SyntaxError: unterminated string literal (detected at line 1) (1435940711.py, line 1)

In [49]:
df['new'] = df["total_boosters"].apply(lambda x: x.fillna(x.shift(1)) if x.shift(1) != np.nan else x )

AttributeError: 'int' object has no attribute 'shift'